.messanger{
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;
}
.chatBox{
    flex: 6.5;
}
.chatboxBottom{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessage{
  width: 80%;
  /* height: 90px; */
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
  overflow-y: scroll;

}
.chatMessage:focus{
    outline: none;
}
.chatButton{
    width: 70px;
    border: none;
    cursor: pointer;
    height: 40px;
    background-color: teal;
    border-radius: 12px;
    color: white;
}


.chatOnline{
    flex: 3;
}
.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{

    padding: 10px;
    height: 100%;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;

}
.noConversation{
    position: absolute;
    top: 15%;
    font-size: 40px;
    color: rgb(224, 220, 220);
    text-align: center;
    width: 40%;
    cursor: default;
}
@media screen and (max-width:542px) and (min-width:539px) {
    .chatBoxWrapper{
        /* width: 200%; */
        height: 130%;
        width: 97%;
    }
    .chatOnline{
        flex: 0;
        margin-right: -27px;
    }
}
@media screen and (max-width:475px) {
    .chatOnline{
        display: none;
    }
    .chatMenu{
        width: 42%;
        height: 100%;
    }
    .chatBoxWrapper{
        width: 216%;
        margin-left: 10px;
        height: 226%;
    }
  .chatboxBottom{
    height: 116px;
  }
  .chatMessage{
    font-size: 32px;
  }
  .chatButton{
    font-size: 30px;
    height: 71px;
   
    width: 16%;
  }
 
  .chatMenu{
      flex: 0;
      margin-left: 7px;
  }
  .chatMenuInput{
    height: 47px;
   
    font-size: 21px;
  }

}

@media screen and (max-width:321px) and (min-width:319px){

    .chatBoxWrapper{
        width: 57vh;
    }
    .chatMenuWrapper{
        overflow-x: auto;
        width: 12vh;
    }
}